.columns {
  padding: 100px 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.columns img {
  height: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  height: 90%;
}



.columns > div > .columns-img-col img {
  display: block;
  object-fit:cover;
  object-position: left;
}

.columns .right {
  object-position: right;
}

.columns > div > div {
  background-color: rgba(255, 255, 255, .7);
  text-align: center;
}



.columns > div > div > h4 {
    font-size: 14px;
    line-height: 1.4;
    color: #969696;
    font-family: droidserif;
    font-weight: 500;
}

.columns > div > div > h2 {
  font-family: droidserif;
  font-weight: 500;  
  color: #502C0A !important;
  font-size: 32px;
  line-height: 1.3;
}

.columns > div > div > p{
  color: #1d1d1d;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  padding: 15px;
}

.columns > div > div > p:first-of-type {
  padding:0;
  margin: 0;
}

a.button.secondary {
  margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 18px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color, background-color, background-position, background-size, border-color, box-shadow;
    font-weight: 400;
    border-radius: 500px;
    background-origin: border-box;
  
    background-color: #502c1e;
    color: #fff;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-image: radial-gradient(circle at 50% 100%, #9d704e 1%, transparent 1%);
    border: 1px solid #9d704e;
}

a.button.secondary:hover {
    background-color: #9d704e;
    color: #fff;
    border-color: #502c1e;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: initial;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (max-width: 900px) {


  .columns > div {
      height: auto;
  }

  .columns > div > div {
      margin-bottom: 3em;
  }
  
}
