.title {
  text-align: center;
}

.title.style1 h1{
  font-size: 4vw;
  padding-top: 30px;
  font-family: blackjar;
  font-weight: inherit;
  color: #502c1e !important;
  line-height: 1.1;
  text-shadow: none;
  letter-spacing: -3px;
}

.title.style2 {
   margin-bottom: 140px;
   margin-top: 140px;
}
        

.title.style2 h1{
  margin: 0 0 20px 0;
  font-size: 4vw;
  margin-top: 0 !important;
  font-family: droidserif;
  font-weight: 500;
  margin-bottom: 0 !important;
  color: #502c1e !important;
  line-height: 1.1;
  letter-spacing: -3px;
  text-shadow: none;
}
